---
import AnnouncementBar from './AnnouncementBar.astro'
import IconChevronDown from './IconChevronDown.astro'
import ChompsLogo from './ChompsLogo.astro'
import Container from './Container.astro'
import IconUser from './IconUser.astro'
import IconCart from './IconCart.astro'
import IconHamburger from './IconHamburger.astro'

interface Props {
  showAnnouncementBar?: boolean
}

const { showAnnouncementBar = false } = Astro.props

const mainMenu = [
  {
    label: 'Shop',
    url: '/',
    subMenu: true
  },
  {
    label: 'Learn',
    url: '/',
    subMenu: true
  },
  {
    label: 'Subscribe & Save',
    url: '/',
    subMenu: false
  }
]

const mainSettingsMenu = [
  {
    label: 'Store Locator',
    url: '/'
  },
  {
    label: 'Rewards',
    url: '/'
  }
]
---

<header class="fixed left-0 top-0 z-[100] w-full bg-primary text-white">
  {
    showAnnouncementBar && (
      <AnnouncementBar text="SUBSCRIBE TO SAVE 10% ON EVERY ORDER! 💰" />
    )
  }

  <nav class="relative flex min-h-[75px] py-[11px]">
    <Container className="flex items-center justify-between gap-4">
      <div class="flex lg:hidden">
        <button>
          <IconHamburger />
        </button>
      </div>
      <div
        class="absolute left-1/2 top-1/2 w-full max-w-[219px] -translate-x-1/2 -translate-y-1/2 text-center"
      >
        <a href="/" class="flex justify-center">
          <ChompsLogo />
        </a>
      </div>

      <ul class="main-links">
        {
          mainMenu.map((item) => (
            <li>
              {item.subMenu ? (
                <button class="menu-link" type="button" aria-label={item.label}>
                  {item.label}{' '}
                  <span>
                    <IconChevronDown />
                  </span>
                </button>
              ) : (
                <a href={item.url} class="menu-link">
                  {item.label}
                </a>
              )}
            </li>
          ))
        }
      </ul>

      <div class="flex items-center gap-15">
        <ul class="main-links">
          {
            mainSettingsMenu.map((item) => (
              <li>
                <a class="menu-link" href={item.url}>
                  {item.label}
                </a>
              </li>
            ))
          }
        </ul>
        <ul class="gap-15 [&_button]:px-[7.5px]">
          <li class="flex">
            <button class="relative">
              <IconCart />

              <span
                class="absolute -right-[3px] -top-[10px] flex h-[20px] w-[20px] items-center justify-center rounded-full bg-white text-[10px] leading-[2rem] text-primary"
                >0</span
              >
            </button>
          </li>
          <li>
            <button>
              <IconUser />
            </button>
          </li>
        </ul>
      </div>
    </Container>
  </nav>
</header>

<style>
  header {
    & .main-links {
      @apply hidden lg:flex;
    }
    & ul {
      @apply flex items-center;
    }
  }
  .main-menu {
    & li:first-of-type .menu-link {
      @apply pl-0;
    }
  }

  .menu-link {
    @apply flex items-center gap-3 px-[15px] py-[7.5px] font-heading text-[2rem];
  }
</style>
